<!doctype html>
<html>
<div class="site">
    <head>
        <title>{{{title}}}</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <title>Ginan Graphical Web Crawler</title>
        <style type="text/css">
            .link {
                stroke: #aaa;
            }

            .node text {
                stroke: #333;
                cursos: pointer;
            }

            .node circle {
                stroke: #fff;
                stroke-width: 3px;
                fill: #555;
            }
        </style>

    </head>
<body>
<div class="mainText">
	{{{body}}}
</div>
</body>
</div>
</html>
