<!doctype html>
<html>
    <head>
        <script  type="text/javascript">
            document.addEventListener('DOMContentLoaded', test_post);
            function test_post() {
                document.getElementById('submitButton').addEventListener('click', function (event) {
                    var req = new XMLHttpRequest();
                    var url = '/test-page';
                    console.log("URL: " + url);
                    console.log("Req Body: " + req.body)
                    req.open('POST', url, true);
                    req.addEventListener('load', function () {
                        console.log(req.status);
                        if (req.status >= 200 && req.status < 400) {
                            var response = JSON.parse(req.body);
                            console.log("Response: " + response);
                            res.send(response);
                        } else {
                            console.log("Error in network request: " + req.statusText);
                        }
                    });
                    //req.send(null);
                    event.preventDefault();
                });
            }</script>
        <title>{{{title}}}</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <title>Ginan Graphical Web Crawler</title>
        <style type="text/css">
            .link {
                stroke: #aaa;
            }

            .node text {
                stroke: #333;
                cursos: pointer;
            }

            .node circle {
                stroke: #fff;
                stroke-width: 3px;
                fill: #555;
            }
        </style>

    </head>
    <body>
        <div class="mainText">
            {{{body}}}
        </div>
    </body>
</html>
