<!doctype html>
<html>
<div class="site">
<head>
	<title>{{{title}}}</title>
	<div class="topnav">
		<a href="/">Home</a>
	</div>
</head>
<body>
<div class="mainText">
	{{{body}}}
</div>
</body>
</div>
</html>
